.selection{
    display: inline-block;
    position: relative;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 10px 0 rgba(0, 0, 0, 0.10 ), 0px -6px 10px 0 rgba(0, 0, 0, 0.10 );
    width: 80%;
    &__input{
        width: 80%;
        padding: 1rem 2rem;
        outline: none;
        border: none;
        font-size: $default-font-size;
    }
    &__dropdown-sign{
        display: inline-block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid $main-color-dark;
        
    }
    &__dropdown{
        position: absolute;
        background-color: $white;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
    }
    &__link{
        width: 100%;
        display: inline-block;
        color: $black-light;
        padding: 1rem 2rem;
    }
    &__item{
        &:not(:last-child){
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}